/* Put some spacing between the route cards */
.card {
    margin-top: 2em;
}


/* Make the route images expand to fill the container width */
img.route {
    width: 100%;
}

/* Make the signup buttons wider */
a.signup {
    padding-left: 3em;
    padding-right: 3em;
    margin: 1em;
}

.map {
    width:100%;
    height: 100%;
}

/* Move the strange placement of the map copyright notice */
.olControlAttribution {
    position:absolute;
    top: 0;
    right: 0;
}

/* Footer */
#footer {
    margin-top: 2em;
    padding: 1em;
    background-color: lightgrey;
}

#footer a {
    color: black;
}

/* Who buttons */
.btn-sm {
    padding:0;
    padding-left: 0.2em;
    padding-right: 0.2em;
}