/* Put some spacing between the route cards */
.card {
    margin-top: 2em;
}


/* Make the route images expand to fill the container width */
img.route {
    width: 100%;
}

/* Make the signup and widthdraw buttons wider */
a.signup {
    padding-left: 3em;
    padding-right: 3em;
    margin: 1em;
}

.map {
    width:100%;
    height: 100%;
    min-height: 15em;
}

.gpxdownload {
    position: absolute;
    bottom: 0;
    right: 15px;
    z-index: 3;
}


/* Move the strange placement of the map copyright notice */
.ol-attribution {
    position:absolute;
    top: 0;
    right: 0;
}
/* Get rid of the bullet from the attribution */
.ol-attribution li {
    list-style: none;
}

.ol-attribution button {
    display: none;
}

/* Footer */
#footer {
    margin-top: 2em;
    padding: 1em;
    background-color: lightgrey;
}

#footer a {
    color: black;
}

/* Who buttons */
.btn-sm {
    padding:0;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

/* Hide admin stuff unless you are one */
.adminonly {
    display: none
}

/* A general hidden class to hide stuff */
.hidden {
    display: none
}

#addnewroutediv {
    margin-top: 2em;
}

.alert a {
    color: #155724;
}

/* Improve the formatting of the new route form */
.col-form-label {
    text-align: right;
}
.custom-file-label {
    text-align: left;
}

/* Put invites in the centre of the screen */
.invitealert {
    text-align: center;
    margin:0;
}

.jumbotron {
    padding: 1rem 1rem;
}

.card {
    border-width: 2px;
    background-color: #e9ecef;
}